[Desktop Entry]
Name=Gameyfin
Comment=Gameyfin Desktop Client
Exec=gameyfin-desktop
Icon=org.gameyfin.Gameyfin-Desktop
Type=Application
Categories=Game;
